body {
    background-image: url(./JS-colorful.jpg);
}

header {
    background-color: rgb(23, 162, 180);
    color: white;
    font-family: 'Kelly Slab', cursive;
    padding: 4px;
}

.empty {
    height: 100px;
}

.questions {
    display: hidden;
}