body {
    background: url(./national-cancer-institute-J28Nn-CDbII-unsplash.jpg) center ;
}

header {
    background-color:rgb(220, 53, 69);
    color: white;
    font-family: 'Kelly Slab', cursive;
    padding: 4px;
}

.empty {
    height: 100px;
}

.questions {
    display: hidden;
}